* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Cairo', sans-serif;
  font-style: normal;
  overflow-x: hidden;
  line-height: 1.6 !important; }


.size_book {
  height: 235px;
  width: 170px; }

.rlt {
  direction: rtl !important; }

.llt {
  direction: ltr !important; }

ul, ol {
  padding: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

#header .bg_img {
  width: 100%;
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.btn_blue {
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  color: #fff;
  background-color: #2d2b46;
  border: 1px solid #fff;
  border-radius: 0; }
  .btn_blue:hover {
    background-color: #fff;
    color: #2d2b46; }

.border_3 {
  border: 2px solid #2d2b46; }

.text-pink {
  color: #f18be2; }

.text-orange {
  color: #fabb7f; }

.size_img_team {
  height: 180px; }

.size_img_client {
  height: 100px; }

.icon_hover {
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s; }
  .icon_hover:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.active_item {
  color: #67c3e7; }

.cursor {
  cursor: pointer; }

.btn_hover {
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s; }
  .btn_hover:hover {
    background-color: #2d2b46; }
    .btn_hover:hover a {
      color: #fff; }

.bottom-0 {
  bottom: 0 !important; }

@media (max-width: 993px) {
  .sp-p {
    text-align: center; } }

.h-30 {
  height: 55px !important; }

.bg-over {
  background-color: rgba(0, 0, 0, 0.5); }

.bg-blue {
  background-color: #2d2b46; }

.float_r {
  float: right; }

.blue_wh {
  background-color: #e3ebfd; }

.blue_dark {
  color: #2d2b46; }

.gray {
  color: #646161; }



